html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0 auto;
  text-align: -webkit-center;
  margin-bottom: 30px;
}
body {
  background-color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana', sans-serif;
}

#heading {
  font-size: 70px;
  color: black;
  padding-bottom: 30px;
  padding-top: 70px;
}
a, a:link, a:visited {
  color: darkred;
}
a:hover {
  color: black;
}

/*Styling the off button*/
#off{
color: white;
background-color: #8b0000;
border-radius: 25px;
border: none;
outline: none;
margin-top: 60px;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

#last>table {
  border: 1px solid gray;

}

#last td {
  width: 5rem;
}
  
#last.frozen {
  background-color: lightblue;
}